# ros2_control configuration for simulation/fake hardware

controller_manager:
  ros__parameters:
    update_rate: 100

    ur5e_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: position_controllers/GripperActionController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

ur5e_arm_controller:
  ros__parameters:
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
      - wrist_1_joint
      - wrist_2_joint
      - wrist_3_joint

gripper_controller:
  ros__parameters:
    joint: gripper_robotiq_85_left_knuckle_joint
